## Challenge 2: Sets

There are a lot to learn about Python Sets and the information presented in the lesson is limited due to its length. To learn Python Sets in depth you are strongly encouraged to review the W3Schools tutorial on [Python Sets Examples and Methods](https://www.w3schools.com/python/python_sets.asp) before you work on this lab. Some difficult questions in this lab have their solutions in the W3Schools tutorial.

#### First, import the Python `random` libary

In [ ]:
import random

#### 1 - In the cell below, create a list named `sample_list_1` with 80 random values. 

Requirements:

* Each value is an integer falling between 0 and 100.
* Each value in the list is unique.

Print `sample_list_1` to review its values

*Hint: use `random.sample` ([reference](https://docs.python.org/3/library/random.html#random.sample)).*

In [2]:
import random

In [4]:
sample_list1 = random.sample(range(101), 80)

print(sample_list1)

[64, 67, 14, 21, 52, 94, 4, 70, 1, 45, 43, 37, 57, 63, 56, 42, 18, 61, 53, 20, 12, 87, 27, 47, 79, 34, 19, 30, 97, 49, 3, 16, 100, 82, 24, 92, 60, 59, 40, 8, 90, 44, 32, 98, 48, 11, 41, 74, 91, 99, 6, 65, 31, 9, 5, 26, 35, 85, 39, 38, 80, 62, 0, 68, 66, 17, 89, 78, 84, 15, 77, 83, 73, 2, 95, 13, 7, 51, 75, 81]

#### 2 - Convert `sample_list_1` to a set called `set1`. Print the length of the set. Is its length still 80?

In [68]:
# Your code here
set1 = set(sample_list1)

print(len(set1))

80

#### 3 - Create another list named `sample_list_2` with 80 random values.

Requirements:

* Each value is an integer falling between 0 and 100.
* The values in the list don't have to be unique.

*Hint: Use a FOR loop.*

In [89]:
# Your code here

sample_list_2 = []

for _ in range(80):
    random_value = random.randint(0, 100)
    sample_list_2.append(random_value)

print(sample_list_2)

[99, 48, 92, 82, 41, 20, 65, 89, 14, 17, 11, 10, 84, 57, 16, 59, 32, 37, 91, 93, 73, 65, 57, 61, 99, 28, 68, 30, 86, 37, 46, 51, 45, 34, 79, 5, 82, 2, 42, 26, 14, 80, 52, 61, 66, 70, 96, 8, 39, 35, 56, 3, 44, 22, 99, 66, 35, 4, 27, 57, 46, 17, 76, 7, 31, 52, 41, 34, 58, 53, 73, 26, 8, 96, 32, 80, 47, 1, 65, 53]

#### 4 - Convert `sample_list_2` to a set called `set2`. Print the length of the set. Is its length still 80?

In [148]:
# Your code here

set2 = set(sample_list_2)

print(len(set2))

56

#### 5 - Identify the elements present in `set1` but not in `set2`. Assign the elements to a new set named `set3`.

In [565]:
# Your code here

set3 = set(set1 - set2) 

print(set3)

{0, 6, 9, 12, 13, 15, 18, 19, 21, 24, 38, 40, 43, 49, 60, 62, 63, 64, 67, 74, 75, 77, 78, 81, 83, 85, 87, 90, 94, 95, 97, 98, 100}

In [566]:
type(set3)

set

In [587]:
set3 = set1.difference(set2)

print(set3)

{0, 6, 9, 12, 13, 15, 18, 19, 21, 24, 38, 40, 43, 49, 60, 62, 63, 64, 67, 74, 75, 77, 78, 81, 83, 85, 87, 90, 94, 95, 97, 98, 100}

In [625]:
set3 = set([x for x in set1 if x not in set2])

print(set3)

{0, 6, 9, 12, 13, 15, 18, 19, 21, 24, 38, 40, 43, 49, 60, 62, 63, 64, 67, 74, 75, 77, 78, 81, 83, 85, 87, 90, 94, 95, 97, 98, 100}

#### 6 - Identify the elements present in `set2` but not in `set1`. Assign the elements to a new set named `set4`.

In [626]:
# Your code here
set4 = set( [x for x in set2 if x not in set1])

print(set4)

{96, 10, 76, 46, 22, 86, 58, 28, 93}

#### 7 - Now Identify the elements shared between `set1` and `set2`. Assign the elements to a new set named `set5`.

In [627]:
# Your code here

set5 = set1.intersection(set2)

print(set5)

{1, 2, 3, 4, 5, 7, 8, 11, 14, 16, 17, 20, 26, 27, 30, 31, 32, 34, 35, 37, 39, 41, 42, 44, 45, 47, 48, 51, 52, 53, 56, 57, 59, 61, 65, 66, 68, 70, 73, 79, 80, 82, 84, 89, 91, 92, 99}

#### 8 - Create an empty set called `set6`.

In [628]:
# Your code here

set6 = set()

#### 9 - Add `set3` and `set5` to `set6` using the Python Set `update` method.

In [629]:
# Your code here
set6.update(set3, set5)

print(set6)

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 24, 26, 27, 30, 31, 32, 34, 35, 37, 38, 39, 40, 41, 42, 43, 44, 45, 47, 48, 49, 51, 52, 53, 56, 57, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 70, 73, 74, 75, 77, 78, 79, 80, 81, 82, 83, 84, 85, 87, 89, 90, 91, 92, 94, 95, 97, 98, 99, 100}

#### 10 - Check if `set1` and `set6` are equal.

In [630]:
# Your code here

if set1 == set6:
    print("Sets are equal")
else:
    print("Sets are not equal")

Sets are equal

In [631]:
are_equal = set1 ==set6

print(are_equal)

True

#### 11 - Check if `set1` contains `set2` using the Python Set `issubset` method. Then check if `set1` contains `set3`.*

In [632]:
# Your code here

is_subset_2 = set1.issubset(set2)

print(is_subset_2)

False

In [633]:
is_subset_3 = set1.issubset(set3)

print(is_subset_3)

False

#### 12 -Using the Python Set `union` method, aggregate `set3`, `set4`, and `set5`. Then aggregate `set1` and `set2`. 

#### Check if the aggregated values are equal.

In [655]:
agregate_1 = set3.union(set1, set2)

print(agregate_1)

agregate_2 = agregate_1.union(set1, set2)

print(agregate_2)

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 24, 26, 27, 28, 30, 31, 32, 34, 35, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 51, 52, 53, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 70, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100}
{0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 24, 26, 27, 28, 30, 31, 32, 34, 35, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 51, 52, 53, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 70, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100}

#### 13 -Using the `pop` method, remove the first element from `set1`.

In [678]:
# Your code here
removed_element = set1.pop()

print(removed_element)

1

#### 14 -Remove every element in the following list from `set1` if they are present in the set. Print the remaining elements.

```
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
```

In [698]:
# Your code here

list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]

for element in list_to_remove:
    if set1 in list_to_remove:
        set1.remove(element)

print("Remaining elements in set 1: ", set1)

Remaining elements in set 1:  {2, 3, 4, 5, 6, 7, 8, 9, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 24, 26, 27, 30, 31, 32, 34, 35, 37, 38, 39, 40, 41, 42, 43, 44, 45, 47, 48, 49, 51, 52, 53, 56, 57, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 70, 73, 74, 75, 77, 78, 79, 80, 81, 82, 83, 84, 85, 87, 89, 90, 91, 92, 94, 95, 97, 98, 99, 100}

#### 15 -The objective of this lab is to provide you a overview of manipulating sets in Python and how they can be integrated within a real usecase
#### For the exercises below it's strongly advised to quickly check this link: https://docs.python.org/2/library/sets.html#sets.Set
#### Imagine you need to create the grocery list for your family! Below you will see a list of items each family member wants. There will be repetitions because this family has the habbit of each time they notice something is missing to write it down. The problem is that they don't really talk to each other and therefore some items in the list are repeated. With the collection of questions below you will see how they solve repetion and create a grocery list with unique elements.

In [699]:
father_list = ['garlic', 'watermelon', 'toilet paper', 'yogurt', 'onions', 'gums', 'flour', 'cucumber', 'watermelon', 'yogurt', 'garlic']

mother_list = []

Jo_list = ['blueberries', 'sugar', 'watermelon', 'gums', 'tomatoes', 'yogurt', 'juice', 'milk', 'onions', 'garlic', 'cucumber', 'sugar', 'blueberries', 'gums', 'yogurt']

Carlos_list = ['tomatoes', 'water', 'onions', 'blueberries', 'garlic', 'flour', 'cherries', 'tomatoes', 'onions', 'water', 'tomatoes', 'toilet paper']

Mattia_list = []

#### 15.1- As you can see there are items repeated in each list. Creat a sequence of iterable elements with dintinct items that each family member wants. You can do it in two different ways. Assign each one (set) to a variable with the name of the family member (ex: father_set).

In [731]:
# Your code here

father_set = set (father_list)
mother_set = set(mother_list)
Jo_set = set (Jo_list)
Carlos_set = set (Carlos_list)
Mattia_set = set(Mattia_list)

print("father' set:" ,father_set)
print("mother_set:",mother_set)
print("Jo_set:", Jo_set)
print("Carlos_set:", Carlos_set)
print("Mattia_set:", Mattia_set)

father' set: {'flour', 'garlic', 'gums', 'yogurt', 'watermelon', 'onions', 'cucumber', 'toilet paper'}
mother_set: {'bread', 'sugar', 'juice', 'shampoo', 'onions', 'chocolate', 'oranges'}
Jo_set: {'sugar', 'tomatoes', 'garlic', 'juice', 'gums', 'blueberries', 'yogurt', 'watermelon', 'onions', 'milk', 'cucumber'}
Carlos_set: {'flour', 'garlic', 'tomatoes', 'water', 'blueberries', 'onions', 'cherries', 'toilet paper'}
Mattia_set: set()

#### 15.2- Q: Mattia wants the same items that his brother Carlos and his sister Jo but doesn't want anything they both want.

##### Hint: check out the documentation for `x.symmetric_difference(y)`.

In [748]:
# Your code here

Mattia_set = Carlos_set.symmetric_difference(Jo_set)
print(Mattia_set)

{'flour', 'sugar', 'juice', 'gums', 'water', 'yogurt', 'watermelon', 'cherries', 'toilet paper', 'milk', 'cucumber'}

#### 15.3- The line of code below  will  generate a list of random elements from a collection of items, with replacement. Run it and from it create a sequence of unique elements and assign it to the variable mother.

In [754]:
import random
items = ['milk', 'water', 'chocolate', 'blueberries', 'shampoo', 'flour', 'bread', 'sugar', 'watermelon', 'vinegar', 'tomatoes', 'yogurt', 'juice', 'gums', 'onions', 'garlic', 'cucumber', 'mushrooms', 'toilet paper', 'oranges', 'deodorant', 'cherries']

mother_list = random.choices(items,k = 10) # https://docs.python.org/3/library/random.html

print(mother_list)

['deodorant', 'watermelon', 'chocolate', 'deodorant', 'toilet paper', 'deodorant', 'chocolate', 'flour', 'bread', 'garlic']

In [763]:
# Your code here

mother = set(mother_list)
print(mother)

{'flour', 'bread', 'deodorant', 'garlic', 'watermelon', 'chocolate', 'toilet paper'}

#### 15.4- Before leaving the house to the grocery store the father found a lot of toilet paper, so the mother decided to remove it from the items needed to be bought. Use the `.discard()` method to remove from each set created before the 'toilet paper'. 

#### Hint: Try to first create a list contaning the variables of each set created before, then loop through them and remove the unecessary item. 

##### Note: The`.discard()` method will remove and update the set without the need of reassignment.

In [786]:
# Your code here

total_items = [father_set, mother_set, Jo_set, Carlos_set, Mattia_set]

item_to_remove = 'toilet paper'
for items in total_items:
    items.discard(item_to_remove)

print(total_items)

[{'flour', 'garlic', 'gums', 'yogurt', 'watermelon', 'onions', 'cucumber'}, {'bread', 'sugar', 'juice', 'shampoo', 'onions', 'chocolate', 'oranges'}, {'sugar', 'tomatoes', 'garlic', 'juice', 'gums', 'blueberries', 'yogurt', 'watermelon', 'onions', 'milk', 'cucumber'}, {'flour', 'garlic', 'tomatoes', 'water', 'blueberries', 'onions', 'cherries'}, {'flour', 'sugar', 'juice', 'gums', 'water', 'yogurt', 'watermelon', 'cherries', 'milk', 'cucumber'}]

#### 15.5- Create a set with all the groceries needed to be bought for the house (no repetitions).

In [790]:
# Your code here
total_groceries = father_set | mother_set | Jo_set | Carlos_set | Mattia_set

print(total_groceries)

{'flour', 'sugar', 'tomatoes', 'water', 'gums', 'yogurt', 'shampoo', 'blueberries', 'onions', 'cherries', 'cucumber', 'bread', 'garlic', 'juice', 'watermelon', 'chocolate', 'milk', 'oranges'}

#### 15.6- The Father said that he could only buy five items this time. So he decided to arbitraly pick wich ones to buy this time.

##### Hint: use the `.pop()` method.

In [801]:
# Your code here

items_to_buy = []

for _ in range(5):
    if total_groceries:
        item = total_groceries.pop()
        items_to_buy.append(item)


print(items_to_buy)

['sugar', 'tomatoes', 'water', 'gums', 'yogurt']